Package: lxphisher
Version: 2.2
Installed-Size: 9400
Architecture: all
Maintainer: @LxaNce-Hacker
Depends: php, wget, git, curl
Homepage: https://github.com/LxaNce-Hacker/LxPhisher
Description: An automated phishing tool with 30+ templates. This Tool is made for educational purpose only !
